@media (max-width: 560px) {

    /* Navigation Bar */

    .nav-menu {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
        border-radius: 5px;
        margin: 5px;
        display: none;
        background-color: #3e3a6d;
    }
    .nav-button {
        display: inline-block;
    }
    .nav-bar {
        max-width: 150px;
        background: transparent;
    }

    /* Profile Section */

    .contents {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .contents img {
        float: none;
        margin: 30px auto 0;
    }

    /* Education Section */

    .eduitem {
        display: flex;
        flex-direction: column;
        /* justify-content: left; */
    }
    .eduitem h4 {
        order: 0;
    }
    .eduitem a {
        order: 2;
        margin: 0;
    }
    .eduitem h5 {
        float: none;
        margin-bottom: 15px;
        order: 1;
        padding-left: 0;
    }

    /* Certificates Section */

    #certificates .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .cimages {
        float: none;
    }
    .citem {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .citem h4 {
        order: 0;
    }
    .citem p {
        order: 2;
        margin: 0;
    }
    .citem h5 {
        order: 1;
    }

    /* Organization Section */

    .oitem {
        display: flex;
        flex-direction: column;
    }
    .oitem h5 {
        order: 2;
        margin: 20px 0 0;
    }
    .oitem h4 {
        order: 0;
    }
    .oitem aside {
        order: 1;
    }
    .oitem ul {
        order: 3
    }

    /* Co-curricular Section */

    h5 {
        padding: 0;
    }
    .coitem {
        display: flex;
        flex-direction: column;
    }
    .coitem h5 {
        order: 3;
        margin: 20px 0 0;
        float: none;
        padding: 0;
    }
    .coitem h4 {
        order: 0;
    }
    .coitem aside {
        order: 1;
    }
    .coitem ul {
        order: 4;
    }    
    .co-image {
        float: none;
        order: 2;
        margin: 0 auto;
    }
    #co-curricular img {
        margin: 20px;
        
    }
    h5 {
        padding: 0;
    }

    /* Language and Skills Section */

    .skills-interests-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* Contact Section */

    .contact-container {
        flex-direction: column;
      }
}

@media (max-width: 361px) {
    h1 {
        font-size: 30px;
    }
    section {
        padding: 0 20px 40px
    }
}